<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Static/App.js" defer></script>
    @*<script src="~/Static/Controller.js" defer></script>
    <script src="~/Static/View.js" defer></script>*@
</head>
<body>
    <div class="navbar navbar-fixed-top"></div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - NReader</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <template id="news-item-template">
        <li class="news-list-item">
            <a class="news-item-link" href="#"><h3 class="news-item-title"></h3></a>
            <h2 class="news-item-news-site-name"></h2>
            <p class="news-item-pub-date"></p>
            @*<img class="news-item-pic" src="#" alt="Alternate Text" />*@
            <p class="news-item-description"></p>
        </li>
    </template>

</body>
</html>
